<%- include('partials/_header') %>

<div class="box-nav d-flex justify-between">
  <div class="filter">
    <a href="/" style="margin-top: 5px;"><i class="fas fa-angle-double-left"></i> Back</a>
  </div>
</div>
<h1 class="heading">Student Login</h1>
<div class="LogForm">
  <form method="POST" onsubmit="return validateForm()">
    <table class="table">
      <tr>
        <td>
          <label for="roll" class="form-label">Roll no:</label>
        </td>
        <td>
          <input type="number" name="roll" class="form-control" id="roll" required>
          <div id="rollValidation" style="color: red;"></div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="name" class="form-control" required>Name: </label>
        </td>
        <td>
          <input type="text" name="name" class="form-control" id="name" required>
          <div id="nameValidation" style="color: red;"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-outline-success">Submit</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="error" style="color: red;"></div>
        </td>
      </tr>
    </table>
  </form>
</div>

<%- include('partials/_footer') %>


  